.input, .success, .failure, .not-implemented {
  vertical-align: middle;
}

.input {
  width: 40%;
}

.success, .failure, .not-implemented {
  width: 20%;
  text-align: center;
  word-wrap: break-word;
}

.failure {
  background-color: #f8d7da;
  color: #721c24;
}

.not-implemented {
  width: 10%;
  background-color: #fff3cd;
  color: #856404;
}
